
<div class="row">
    <div class="col-lg-6" *ngFor="let product of products">
        <div class="card">
            <div class="card-body">
                <div class="d-flex no-block">
                    <div class="m-r-20 align-self-center"><span class="lstick m-r-20"></span><img
                            src="../assets/images/icon/income.png" alt="Income"></div>
                    <div class="align-self-center">
                        <h6 class="text-muted m-t-10 m-b-0">{{ product.name }}</h6>
                    
                        <h2 class="m-t-0">{{ product.price | currency}}</h2>
                        <p>Stock {{ product.stock | number}}</p>
                        <input type="number" name="number" id="number-{{ product.id }}" #number class="form-control" />
                        <button class="btn btn-primary"  (click)="updateStock(product.id)">Add or SubTract</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>